.appointment {
    width: 100%;
    border: solid 1px black;
    margin-top: 30px;
    border-radius: 7px;
}

.header {
    width: 100%;
    background-color: #428bca;
    color: black;
    text-align: center;
    font-size: 22;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.ul {
    list-style-type: none;
}